#start-screen-body {
  position: relative;
  width: 100%;
  max-width: 350px;
  margin: 15px auto 0 auto;
}


#start-screen-button {
  position: relative;
  margin: 0 auto;
  transform: scale(1.5);
}

#start-screen-date {
  text-align: center;
  font-size: 24px;
  
}

#start-screen-time {
  text-align: center;
  font-size: 80px;
  line-height: normal;
}


#start-screen-circles {
  text-align: center;
  overflow: hidden;
}


.start-screen-information {
  position: absolute;
}


.worker-search{
  position: relative;
  top: 40%;
  left: 5%;
  width: 90%;
  border-style: 0 !important;
}

.css-yk16xz-control{
  background-color: black !important;
  border-left: none !important;
  border-right: none !important; 
  border-top: none !important;
  border-width: 3px !important;
  border-color: white !important;
}

.css-1wa3eu0-placeholder{
  color: gray !important;
  font-family: "Source Serif Pro", serif !important;
  font-size: 26px !important;
}

.css-1hb7zxy-IndicatorsContainer {
  visibility: hidden;
}

.css-1pahdxg-control{
  background-color: black !important;
}

.css-26l3qy-menu{
  background-color: black !important;
}

.css-b8ldur-Input {
  color: white !important;
}
.profileimage {
  width: 6rem;
  height: 6rem;
  background-color: #333;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 30px 30px 30px 30px;
  margin-right: 1rem;
}
.foreman-name{
  font-size: 1.5rem;
}

.logoKiosk{
  position: absolute;
  top: 0px;
  left: 20px;
  height: 80px;
  width: 150px;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.logoKiosk.default{
  text-align: center;
  line-height: 80px;
  text-transform: uppercase;
  font-weight: 700;
  background: #000;
  color: #fff;
  text-indent: 0px;
}
.kiosk-start{
  text-indent: -9999px;
}
.kiosk-start.default{
  font-weight: 700;
  text-indent: 0px;
  text-align: center;
  line-height: 80px;
  text-transform: uppercase;
  font-size: 1.2rem;
}
#camera-canvas{
  width: auto;
  height: 100vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: -1;
  background-color: #d7d0c8;
}
#camera-screen{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .information-container-black-reverse{
    top: auto;
    bottom: 0;
    height: 500px;
    z-index: 1;
  }
  
  .camera-screen-body {
    font-family: "Source Serif Pro", serif;
    text-align: center;
  }

  #camera-screen-welcome-text {
    font-size: 3rem;
  }

  .time-section{
    text-align: center;
    font-size: 22px;
  }
  .face-image{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #d7d0c8;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    z-index: -1;
  }
  .info-404{ 
    text-align: center; 
    position: absolute; 
    bottom: 0; 
    background: #fff; 
    width: 100%; 
    padding: 1em; 
    font-size: 1.4rem; 
    left: 0;
  }
}
.user-list-option{
  padding: 0.6em 0 ;
  .user-image{
    width: 3rem;
    height: 3rem;
    background-color: #333;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 30px 30px 30px 30px;
    margin-right: 1rem;
  }
  .user-name{
    font-size: 1.5rem;
  }
}
#stream-container{
  display: none;
}
#clock-screen{
  position: absolute;
  border-radius: 0px 25px 0px 0px;
  width: 90%;
  height: 90vh;
  z-index: 1;
  bottom: 0;
  overflow: hidden;
  padding: 1em 0;

  .information-container-clock{
    position: relative;
    top: auto;
    left: auto;
  }
  .clock-header-value{
    font-size: 2rem;
  }
  .user-image{
    width: 5rem;
    height: 5rem;
    background-color: #333;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 1rem;

  }
  .user-name{
    font-size: 1.5rem;
  }
  .button-wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -30%);

  }
  #clock-screen-button{
    position: relative;
    margin: 0 auto 3em auto;
    transform: scale(1.3);
  }
  #clock-screen-button-home{
    position: relative;
    margin: 0 auto;
  }
}
