#start-screen-body {
    position: absolute;
    transform: scale(-1, 1);
    font-family: "Source Serif Pro", serif;
    width: auto;
    .row{
        margin-top: 30%;
    }
}

#start-screen-button {
    position: absolute;
    left: 0;
    width: 100vw;
}

#camera-screen-body{
    color: white;
}