.modal-wrapper {
  position: absolute;
  background: white;
  border: 1px solid #d0cccc;
  border-radius: 0px 25px 25px 0px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  transition: all 0.8s;
  width: 70vw;
  top: 30%;
  left: 0;
  overflow: hidden;
  height: 25vh;
}

.modal-close-button {
  position: absolute;
  right: 10%;
  top: 5%;
  overflow: hidden;
}

.modal-header-text {
  left: 0;
}

.modal-body {
  position: absolute;
  top: 20%;
  left: 30%;
}

#modal-text {
  text-align: center;
}

#modal-button {
  position: absolute;
  left: 7%;
  top: 60%;
}

.idol-modal-body{
  position: relative;
  top: 65%;
  left: 20%;
}

#idol-modal-text {
  position: absolute;
  top: 30%;
  right: 30%;
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
  align-content: center;

}

#left-col{
  position: absolute;
  left: 30%;
}

#right-col{
  position: absolute;
  right:10%;
}