.orangeBody {
    background-image: linear-gradient(rgb(226, 88, 251), rgb(142, 30, 3), rgb(58, 10, 0))
}
// .backToHomeButton {
//     background-image: linear-gradient(rgb(40, 85, 140), rgb(12, 38, 68), rgb(0, 0, 0))
// }

// .greenBody{
//     background-image: linear-gradient(rgb(124, 120, 35), rgb(91, 87, 4), rgb(33, 32, 15)) 
// } */


.btn{
    background-image: url(../images/OrangeButton.svg);
    height: 64px;
    width: 264px;

}

