.custom-button,
.custom-button-blue,
.custom-button-green,
.custom-button-orange {
  width: 264px;
  height: 64px;
  border: none;
  color: transparent;
  outline: none;
  box-shadow: none;
  position: absolute;
  white-space: nowrap;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 7px;
  cursor: pointer;
  text-decoration: none;
  background-repeat: no-repeat;
  background-color: transparent;
  &-blue {
    background-image: url(../images/BlueButton.svg);
  }
  &-green {
    background-image: url(../images/GreenButton.svg);
  }
  &-orange {
    background-image: url(../images/OrangeButton.svg);
  }
  .button-text {
    color: white;
    width: auto;
    height: auto;
    font-family: "Source Serif Pro", serif;
    font-size: x-large;
  }
  &:hover{
    text-decoration: none;
    color: inherit;
  }
  &:focus {
    .button-text {
      opacity: 25%;
    }
  }
}

.custom-button-small{
  width: 175px !important;
  height: 45px !important;
  background-size: 100% auto;
  .button-text{
    font-size: 1rem;
  }
}

#button-orange-small, .button-orange-small {
  width: 114.393px;
  height: 27.732px;
  background-image: url(../images/OrangeButtonSmall.svg);
  border: none;
  color: transparent;
  outline: none;
  box-shadow: none;
  position: absolute;
  white-space: nowrap;
  cursor: pointer;
}
#button-green-small {
  width: 114.393px;
  height: 27.732px;
  background-image: url(../images/GreenButtonSmall.svg);
  border: none;
  color: transparent;
  outline: none;
  box-shadow: none;
  position: absolute;
  white-space: nowrap;
  cursor: pointer;
}

.button-text-small {
  color: white;
  width: auto;
  height: auto;
  font-family: "Source Serif Pro", serif;
  position: absolute;
  font-size: small;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
