    .information-container{
        position: absolute;
        border-radius: 100px;
        background: #fff;
        width: 90%;
        height: 60vh;
        transform: translate(-10%, 50%);
        box-shadow: 5px 10px 8px 10px #888888
    }
