    .information-container, .information-container-black{
        position: absolute;
        border-radius: 0px 100px 100px 0px;
        background: #fff;
        width: 90vw;
        height: 80vh;
        box-shadow: 5px 10px 8px 10px #888888;
        z-index: -1;
        top:10%;
        // transition: all .4s;

        &-black{
            position: absolute;
            background: #000000;
            color: #fff;
            transform: scale(-1, 1);
            width: 70vw;
            height: 70vh;
            right: 0;
            top:15%;
            overflow: hidden;
            box-shadow: none;
        }
    }

