.admin-menu-body {
  text-align: left;
  position: absolute;
  top: 10%;
  font-family: "Source Serif Pro", serif;
  font-size: large;
  width: 90vw;
  overflow: hidden;
}

#authorize-container {
  position: absolute;
  font-family: "Source Serif Pro", serif;
  background-size: cover;
  z-index: 1;
  text-align: center;
  top: 20%;
  margin-left: 20%;
  overflow: hidden;
}

#quickbooks-container {
  margin-top: 10%;
  overflow: hidden;
}

#authorize-button {
  position: absolute;
  right: 0;
  z-index: 2;
  overflow: hidden;
  top: 70%;
}

#quickbooks-logo {
  width: 70vw;
  overflow: hidden;
}

.list-group-item {
  border: 0 !important;
}

#client-save{
  position: absolute; 
  top: 87%;
}

.client-search{
  position: relative;
  top: 20%;
  width: auto;
  border-style: 0 !important;
}

.css-yk16xz-control{
  border-style: none !important;
}

#foreman-save{
  position: absolute;
  top: 82%;
}

#foreman-body{
  position: absolute; 
  top:25%;
  left: 5%;
  font-family: "Source Serif Pro", serif;

}

#foreman-top-container{
  position: absolute;
  top: 10%;
  width: 90vw;
  left: 5%;
}