html{
  font-size: 16px;
}
body {
  margin: 0;
  font-family: "Source Serif Pro", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nprogress .bar {
  background: #000;
  z-index: 3000;
  height: 5px;
}

#nprogress .spinner-icon {
  border-top-color: #000;
  border-left-color: #000;
}

#nprogress .peg {
  box-shadow: 0 0 10px #000, 0 0 5px #000;
}